.Emails {
  position: relative;
  left: 250px;
  background-color: whitesmoke;
  min-width: 350px;
  max-width: 400px;
  height: 100vh;
  overflow: auto;
}

.Emails-Email {
  list-style: none;
  border-bottom: 1px solid lightgray;
  padding: 1px 15px 0px;
  margin: 0px;
  cursor: default;
}

.Emails-Email:hover {
  background-color: rgb(218, 218, 218);
}

.Emails-Subject {
  font-size: 12pt;
}

.Emails-Content {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 10pt;
  color: rgb(100, 100, 100);
}

.Emails-Empty {
  position: relative;
  top: 50%;
  text-align: center;
  color: darkgray;
}
.Emails-Header {
  display: flex;
  justify-content: space-between;
}

.Unread-Circle {
  height: 10px;
  width: 10px;
  background-color: rgb(0, 109, 160);
  border-radius: 10px;
  margin-top: 15px;
}
